#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.selectize-control {
    width: 30vw;
}

#outPopUp {
    position: absolute;
    width: 400px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: whitesmoke;
	color: black;
}
#recommended_friends {
    margin-top: 5%;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.friend_recommendation {
    display: flex;
    width: 20%;
    margin: 30px auto;
    font-size: 30px;
    justify-content: space-between;
}

.friend_recommendation a {
    color: white;
}

.friend_button {
    padding: 10px 20px;
    border: 1px solid black;
    color: white;
    box-shadow: 1px 1px 4px 2px grey;
    font-size: 20px;
}

.add_friend {
    background-color: green;
}

.remove_friend {
    background-color: red;
}
