#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

#search_text {
    margin-right: 1vw;
}

.selectize-control {
    width: 30vw;
}

#outPopUp {
    position: absolute;
    width: 400px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: whitesmoke;
}