#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.selectize-control {
    width: 30vw;
}

.logo_heading {
    font-size: 5vw;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .logo_heading {
        font-size: 8vw;
    }
}

#recommended_friends {
    margin-top: 5%;
    width: fit-content;
    margin: 5% auto 0 auto;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.friend_recommendation {
    display: flex;
    margin: 30px auto;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}

.friend_recommendation a {
    color: white;
    margin-right: 5vw;
}

.friend_button {
    padding: 10px 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 4px 2px grey;
    font-size: 20px;
    background-color: black;
}

.add_friend {
    color: #39ff14;
}

.remove_friend {
    color: #e32636;
}

hr {
    width: 80%;
    margin: 5% auto;
}

#current_friends {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-around;
    row-gap: 5vh;
    font-size: 30px;
    margin: 3% auto;
}

@media (max-width: 800px) {
    #current_friends {
        grid-template-columns: max-content max-content;
    }
}
