#main {
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 15px;
    border-radius: 10px;
    margin-top: 3%;
}

table {
    width: 100%;
}

#user_info_table_header {
    font-size: 40px;
}

#user_info_table_data {
    font-size: 30px;
}

#reviews_summary_table {
    font-size: 40px;
}

#user_info_table_header td,
#user_info_table_data td {
    width: 33%;
    text-align: center;
}

#reviews_summary_table_header td,
#reviews_summary_table_data td {
    width: 50%;
    text-align: center;
    font-size: 50px;
}

.review {
    background-color: rgba(251, 248, 248, 0.62);
    box-shadow: 2px 2px 5px 1px black;
    padding: 5px;
}

.review_heading {
    font-size: 40px;
    text-align: center;
}

.review_contents {
    font-size: 25px;
}

.review_heading a {
    color: darkblue;
}

.rating {
    font-weight: bold;
}
