input[type=submit] {
  width: 10%;
  background-color: black;
  color: white;
  padding: 7px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input_text {
    margin: auto;
    display: inline-block;
}
.input_field {
    width: 100%;
}

