<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="{{ url_for('static', filename='images/favicons/browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ url_for('homepage_api.index') }}">Movie Match</a>
            <ul id="nav_links">
                {% if not session.email %}
                    <li><a href="{{ url_for('register_api.register') }}">Register</a></li>
                    <li><a href="{{ url_for('register_api.login') }}">Log In</a></li>
                {% else %}
                    <li><a href="{{ url_for('profile_api.profile', email = session['email']) }}">Profile</a></li>
                    <li><a href="{{ url_for('register_api.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>&copy; 2020  Movie Match | Developed by CS 411 Team 11</footer>
    </body>
</html>