{% extends "base.html" %}

{% block head %}
    <title>Movie Match</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index_logged_in.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="{{ url_for('static', filename='js/index_logged_in.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/add_friend.js') }}"></script>

    <script>
        let movies = {{ movies | tojson }};
        $(document).ready(setMovieList);
    </script>
{% endblock %}

{% block main %}
    <div id = "outPopUp">
        <div id = "search_container">
            <span id = "search_text">Search:</span>
            <select id = "movie_select"></select>
        </div>

    <div id="recommended_friends">
        <h1>Friend Recommendations</h1>
        {% for first_name, last_name, email in recommendations %}
            <div class="friend_recommendation">
                <a href="{{ url_for('profile_api.profile', email = email) }}">{{ first_name }} {{ last_name }}</a>
                <button
                    class="friend_button add_friend"
                    onclick="addFriend(this)"
                    data-email="{{ email }}"
                >Add Friend</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}