<html>
    <head>
        <title>Movie Match</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/index.css') }}"
        />


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
        

        <script>
            $(document).ready(setMovieList);

            function setMovieList() {
                let movies = {{ movies | tojson }};
                movies = movies.map(movie_name => {
                    return {title: movie_name};
                });

                $("#movie_select").selectize({
                    maxItems: 1,
                    maxOptions: 10,
                    options: movies,
                    labelField: "title",
                    valueField: "title",
                    searchField: "title",
                    onChange: (movie) => {
                        window.location = "/movie?movie_name=" + encodeURIComponent(movie)
                    }
                });
            }
        </script>

    </head>

    <body>
        <div id = "search_container">
            <span id = "search_text">Search:</span>
            <select id = "movie_select"></select>
        </div>

        <div>
            {% if session.email %}
            <h1>Hello {{ session.email }}!</h1>
            <a href="{{ url_for('register_api.logout') }}">Logout</a>
            {% else %}
            <h1>Hello, World!</h1>
            <a href="{{ url_for('register_api.register') }}">Register</a>
            <a href="{{ url_for('register_api.login') }}">Log In</a>
            {% endif %}
        </div>
    </body>
</html>
