{% extends "base.html" %}

{% block head %}
    <title>Movie Match</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index_not_logged_in.css') }}"
    />
{% endblock %}

{% block main %}
	<h1>About Movie Match:</h1>
	<br>
	<br>
	<br>
	<div id = "paragraph1">
		<p>Hello! Welcome to Movie Match, an application created for the class CS 411: Database
		Systems in the Spring Semester of 2020. Here we put our knowledge of databases learned during class
		to the test, by developing an application using both a SQL and NoSQL database. Movie Match uses
		IMDB data collected from Kaggle, which is then stored in a Neo4j database. We used the SQL Database to store user information
		such as emails and user friends.Please use the Register button located to the top right on the toolbar to create an account or the login buttion if you already have an account.
		Please review the features list below to understand what you can do with our application.
		We hope you enjoy using our website!</p>
	</div>
	<br>
	<br>
	<br>
	<h1>Users Have Access To The Following Features:</h1>
	<br>
	<br>
	<br>
		<ul class = "list1">
			<li>The ability to create an account using an email and password</li>
			<li>The ability to search our extensive movie database for information about said movie</li>
			<li>The ability to leave a rating for a movie</li>
			<li>The ability a insert, update, and delete comments about a movie</li>
			<li>The ability to view your profile page, which shows the amount of comments you've made and the average of your reviews</li>
			<li>The ability to become friends with other users based on degrees of seperation</li>
		</ul>
{% endblock %}