{% extends "base.html" %}

{% block head %}
    <title>Movie Match</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/index_not_logged_in.css') }}"
    />
{% endblock %}

{% block main %}
    <div class = "logo logo_heading">Movie Match</div>

    <div id = "main_description">
        <p>Welcome to Movie Match, an application created for the class CS 411: Database Systems in spring 2020 at UIUC. Here we put our knowledge of databases learned during class to the test, by developing an application using both a SQL and NoSQL database. Movie Match uses IMDB data collected from Kaggle, which is then stored in a Neo4j database. We used the SQL Database to store user information and movie reviews. Please use the Register button to create an account or the login button if you already have one. Please review the features list below to understand what you can do with our application. We hope you enjoy using our website!</p>
    </div>

    <h1>Users Have Access To The Following Features:</h1>
    <ul id="features_list">
        <li>Create an account using an email and password</li>
        <li>Search our extensive movie database for information about different movies</li>
        <li>Leave a rating and review for a movie</li>
        <li>View users' profile pages and see reviews and statistics</li>
        <li>Friend other users</li>
        <li>See degrees of separation between users</li>
    </ul>
{% endblock %}