<html>
    <head>
        <title>{{ movie_data.movie_title }}</title>
    </head>

    <body>
        <div>
            {% for pair in movie_data.items() %}
            <p>{{ pair[0] }}: {{ pair[1] }}</p>
            {% endfor %}
        </div>

        <div>
            {% for review in reviews %}
            <p>
                {{ review[3] }}: {{ review[1] }} stars - {{ review[2] }} ({{
                review[5] }})
            </p>
            {% endfor %}
        </div>
    </body>
</html>
