{% extends "base.html" %}

{% block head %}
    <title>{{ user_info[0][1] }} {{ user_info[0][2] }}</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/profile.css') }}"
    />
    <script src=" {{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block main %}
    <div id="user_info">
        <h1>{{ user_info[0][1] }} {{ user_info[0][2] }}</h1>
        <br>
        <h2 id = "email">{{ user_info[0][0] }}</h2>

        {% if distance != 0 %}
            <h2 id = "distance">Distance = {{ distance }}</h2>
            <button id = "friend_button" onclick="addFriend()">{{ "Unfriend" if distance == 1 else "Friend" }}</button>
        {% endif %}
    </div>

    <div id="main">
        <table id="reviews_summary_table">
            <tr id="reviews_summary_table_header">
                <td>Total Reviews</td>
                <td>Average Rating</td>
            </tr>

            <tr id="reviews_summary_table_data">
                <td><span><span>{{rating_num}}</span></td>
                <td><span>{{rating_average}}</span></td>
            </tr>
        </table>

        <hr>

        <div id="reviews_table">
            {% for review in user_reviews %}
                <div class="review">
                    <div class="review_heading">
                        <a class="movie_name" href="{{ url_for('movie_api.movie', movie_name=review[2]) }}">{{review[2]}}</a>
                        Rating: <span class="rating">{{review[0]}}</span>
                    </div>

                    <div class="review_contents">{{ review[1] }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}