{% extends "base.html" %}

{% block head %}
    <title>Register</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/register.css') }}"
    />
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Register</h1>

    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name(autocomplete = "given-name") }}
        {{ form.last_name.label }} {{ form.last_name(autocomplete = "family-name") }}
        {{ form.email.label }} {{ form.email(autocomplete = "email") }}
        {{ form.password.label }} {{ form.password(minlength = 8, autocomplete = "new-password") }}
        {{ form.confirm_password.label }} {{ form.confirm_password(minlength = 8, autocomplete = "new-password") }}
        <button>Submit</button>
    </form>

    <div class="message_container">
        {% for message in get_flashed_messages() %}
            <div class="error">{{ message }}</div><br>
        {% endfor %}
    </div>
{% endblock %}